<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title" size="large">Welcome</ion-title>
    <p class="subtitle">Sign up to account your account</p>
  </div>
  <form [formGroup]="ionicForm" >
    <div class="ion-padding">
      <ion-item>
        <ion-input formControlName="fullname"  class="input" placeholder="fullname"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-input formControlName="email" class="input" placeholder="email"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input formControlName="password" class="input" placeholder="password"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
    </div>
    <ion-button (click)="Signup()" class="loginLink" [routerLink]="['/login']">Sign Up</ion-button>
    <div class="loginLink">
      <p class="p">Already a memember? <a [routerLink]="['/login']" style="color: blue">SignIn now</a></p>
    </div>

    <!-- <ion-fab vertical="botton" horizontal="end" style="margin-bottom: 30px">
      <ion-fab-button [routerLink]="['/home']">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->
  </form>

</ion-content>
